<table>
  <thead>
    <tr>
      <th>{{localize 'EXT5E.settings.table.Label'}}</th>
      <th>{{localize 'EXT5E.settings.table.Abbrev'}}</th>
      <th>{{localize 'EXT5E.settings.table.Ability'}}</th>
      <th>{{localize 'Delete'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each skills}}
    {{> 'modules/dnd5e-extender/templates/skills/settings-skills-tr.hbs' index=@index item=this abilities=../abilities}}
    {{/each}}
  </tbody>
</table>

<button type="button" data-table="skills" class="add-row">
  <i class="fa fa-plus"></i> <span>{{localize 'EXT5E.settings.table.Add'}}</span>
</button>