{{#*inline 'table-row'}}
<tr>
  <td>
    <input type="text" name="abilities.{{index}}.abbreviation" value="{{item.abbreviation}}" data-dtype="String">
  </td>
  <td>
    <input type="text" name="abilities.{{index}}.title" value="{{item.title}}" data-dtype="String">
  </td>
  <td>
    <button type="button" title="Delete"><i class="fa fa-trash"></i></button>
  </td>
</tr>
{{/inline}}

<table>
  <thead>
    <tr>
      <th>Ability Score</th>
      <th>Abbreviation</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each items}}
    {{> 'table-row' index=@index item=this}}
    {{/each}}
  </tbody>
</table>

<button type="button" data-table="abilities" class="add-row">
  <i class="fa fa-plus"></i> <span>{{localize 'token-tooltip-alt.buttons.add'}}</span>
</button>